/* P치gina Cont치ctos */
.contenedor_contactos {
    width: 100%;
    padding: 0;
    background-color: var(--colorAcento);
    padding-bottom: 60px;

    & .titulo {
        text-transform: uppercase;
        padding-top: 20px;
    }

    & .caja {
        margin: 0 auto;
        width: 60%;
        padding: 2em;
        border: 2px solid #ccc;
        box-shadow: 8px 8px 8px var(--colorBordes);
        border-radius: 5px;
        background: url(/img/contactos.png) no-repeat right;
        background-size: contain;
        
        & h2 {
            font-size: 30px;
            margin-left: 18px;
            margin-bottom: 60px;
        }

        & .contactos{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            flex: 1 0 300px;

            & .contactos_1 {
                line-height: 1.8;

                & i {
                    font-size: 30px;
                    margin-right: 10px;
                }

                & span {
                    font-size: 20px;
                    display: inline-block;
                    font-weight: bold;
                }

                &  p {
                    margin-bottom: 20px;
                    color: var(--colorBordes);
                }
            }

            & form {
                font-size: 20px;
                margin-top: -20px;

                & ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    & li + li {
                        margin-top: 1em;

                        & button {
                            cursor: pointer;
                            padding: 10px 20px;
                            margin-right: 100px;
                            font-size: 24px;
                            width: 100%;
    
                        }
                    }
                    
                    & label {
                        display: inline-block;
                        width: 90px;
                        text-align: right;
                    }

                    & input, textarea {
                        font: 1em sans-serif;
                        width: 100%;
                        padding: 10px 0;
                        border: 1px solid var(--colorBordes);
                        padding-left: 15px;

                        & input:focus, textarea:focus {
                            border-color: var(--colorNegro);
                            padding-left: 15px;
                        }
                    }

                    & textarea {
                        vertical-align: top;  
                        height: 5em;
                    }

                    & button {
                        width: 100%;
                        padding: 10px;
                        background-color: var(--colorSecundario);
                        color: var(--colorBlanco);
                        border: none;
                        border-radius: 5px;

                        &:hover {
                            background-color: var(--colorAcento);
                            color: var(--colorSecundario);
                            font-weight: bold;
                          }
                    }

                    & input:user-valid {
                        outline-color: var(--colorBordes);
                    }

                    & input:user-invalid {
                        outline-color: var(--colorError);
                    }
                }
            }
        }
    }
}

/* Dise침o Responsive - Para M칩viles */
@media only screen and ( max-width: 425px) {    
    .contenedor_contactos {
        min-width: 100%;
        margin-top: -40px;
        overflow: hidden;
        padding: 30px 20px;

        & .caja {
            width: 100%;
            background: transparent url(/img/contactos.png) no-repeat center;
            background-size: contain;
            
            & .contactos {
                
                & .contactos_1 {
                    margin-bottom: 60px;
                }                
            }
        }
    }
}