/* Reset de Estilos con Selector Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Comportamiento del scroll */
html {
 scroll-behavior: smooth;   
}

/* Fuente (Tipo de Letra ) de la WebSite */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Clase Contenedor Principal de la WebSite */
.contenedor {
    padding: 10px 10px;
    width: 90%;
    height: 100vh;
    margin: auto;
    background-color: aqua;
}

/* Clase Título para todos los H1 */
.titulo {
    color: #642a73;
    font-size: 40px;
    text-align: center;
    margin: 40px 40px;
}

/* Texto Tipeado */
.contenedorTexto {
    display: inline-block;
}

.text {
    overflow: hidden;
    font-size: 3.6rem;
    font-weight: 700;
    border-right: 0.1em solid #642a73;
    white-space: nowrap;
    animation: typing 4s steps(40, end) infinite;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/* Clase Ir hacia arriba de la Página Principal */
.irArriba {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #23655c;
    padding: 10px;
    border-radius: 10px;
}

.irArriba > img {
    width: 20px;
}

/* Botón con estilo Neon */
.botonNeon {
    width: 150px;
    height: 60px;
    margin: 30px 130px;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #23655c;
    box-shadow: 0 0 5px #23655c,
                0 0 25px #23655c;
    transition: all 0.4s ease;
    cursor: pointer;
    color: #fff;
}

.botonNeon:hover {
    box-shadow: 0 0 5px #23655c,
                0 0 25px #23655c,
                0 0 50px #23655c,
                0 0 100px #23655c,
                0 0 200px #23655c;
    transition: 2S ease;
    font-size: 17px;
}

/* Botón con estilo Secundario */
.botonSecundario {
    width: 150px;
    height: 60px;
    margin: 30px 30px;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid #642a73;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 5px #642a73,
                0 0 25px #642a73;
    transition: all 0.4s ease;
    cursor: pointer;
    color: #642a73;
}

.botonSecundario:hover {
    box-shadow: 0 0 5px #642a73,
                0 0 25px #642a73,
                0 0 50px #642a73,
                0 0 100px #642a73,
                0 0 200px #642a73;
    transition: 2S ease;
    font-size: 17px;
}

/* Header */
header {
    width: 100%;
    height: 100vh;
    background: #bc4e9c;
    /* background: -webkit-linear-gradient(to right, hsla(340,95%,50%,0.179),hsl(317, 45%, 52%,0.179)), url(../img/portada.jpg);
    background: linear-gradient(to right, hsla(340,95%,50%,0.179),hsl(317, 45%, 52%,0.179)), url(../img/portada.jpg); */
    background: url(../img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px 0 0;
}

.logo {
    margin-left: 60px;
    border-radius: 20%;
}

.menuNavegación {
    justify-content: center;
    align-items: center;
}

nav .menuNavegación > a {
    color: #642a73;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
    margin: 12px;
}

nav .menuNavegación > a:hover {
    text-decoration: underline;
    transition: 1S ease;
    color: #23655c;
}

.textos_header {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 600px;
    margin: 20px 200px;
    margin-top: 48px;
    margin-left: 60px;
    padding: 10px 10px;
    text-align: center;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 3px solid rgba(255, 255, 255, 0.18);
}

.textos_header h1 {
    font-family: Verdana;
    font-size: 50px;
    color:#642a73;
    font-weight: bold;
}

.textos_header h2 {
    font-family: Geneva;
    font-size: 48px;
    color: #23655c;
    font-weight: 300;
}

/* Nosotros */
main .contenedorNosotros {
    padding: 0 150px;
    width: auto;
    height: 100vh;
    margin: auto;
    background: #fff;
    
}

.contenedor-nosotros {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.contenedor-nosotros img {
    display: flex;
}

.contenedor-nosotros .img .img1 {
    width: 600px;
    height: 600px;
    border-radius: 20px;
}

.contenedor-nosotros .img .img2 {
    width: 350px;
    height: 410px;
    margin-top: -490px;
    margin-left: 310px;
    border-radius: 20px;
}

.contenedor-nosotros .img .img3 {
    width: 550px;
    height: 280px;
    margin-top: -150px;
    margin-left: 50px;
    border-radius: 20px;
}

.contenido-textos {
    font-family: Tahoma;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 1.5px;
    line-height: 26px;
}

.contenido-textos p {
    margin: 10px 0px 10px 0;
}

.contenido-textos .card {
    display: flex;
    margin-top: 30px;
    align-content: center;
    flex-wrap: wrap;
    gap: 30px; 
}

.contenido-textos .card .avatar {
    background-color: #f2f2f2;
    justify-items: center;
    justify-content: center;
    text-align: center;
    width: 145px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(155, 155, 155, 1);
    padding: 8px;
    letter-spacing: 0.5px;
    line-height: 6px;
}

.contenido-textos .card .avatar h5 {
    font-size: 1rem;
    text-wrap: nowrap;  
}

.contenido-textos .card .avatar p {
    font-size: 0.8rem;  
}
.contenido-textos .card .avatar img {
    position: relative;
    object-fit: cover;
    top: -35px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid #444;
}

/* Servicios */
main .contenedorServicios {
    padding: 0 150px;
    width: auto;
    height: 100vh;
    margin: auto;
    background: #f2f2f2;
}

/* Clientes */
main .contenedorClientes {
    padding: 0 150px;
    width: auto;
    height: auto;
    margin: auto;
    background: #fff;
}

.galeriaClientes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagenClientes {
    width: 24%;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagenClientes > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 500ms ease-out;
}

.imagenClientes > img:hover {
    transform: scale(1.3);
}

/* Contáctos */
main .contenedorContáctos {
    padding: 0 150px;
    width: auto;
    height: 100vh;
    margin: auto;
    background: #f2f2f2;
    
}
/* Footer */
footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}