/* Configuración de Colores */
:root {
    --colorBackground: #eee7dd;
    --colorMarca: #bc4e9c;
    --colorPrimario: #23655c ;
    --colorSecundario: #642a73;
    --colorTitulo: #642a73;
    --colorNegro: #000;
    --colorFooter:  #0a141d;
    --colorBlanco: #fff;
    --colorAcento: #f2f2f2;
    --colorBordes: #444;
    --colorError: #c70039;
}

/* Reseteo de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Comportamiento del scroll */
html {
 scroll-behavior: smooth;   
}

/* Fuente (Tipo de Letra ) de la WebSite */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Clase Título para todos los H1 */
.titulo {
    color: var(--colorTitulo);
    font-size: 40px;
    text-align: center;
    margin: 40px 0px;
}

/* Clase Ir hacia arriba de la Página Principal */
.irArriba {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--colorPrimario);
    padding: 10px;
    border-radius: 10px;
}

.irArriba > img {
    width: 20px;
}

/* Botón con estilo Neon */
.botonNeon {
    width: 150px;
    height: 60px;
    margin: 30px 130px;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: var(--colorPrimario);
    box-shadow: 0 0 5px var(--colorPrimario),
                0 0 25px var(--colorPrimario);
    transition: all 0.4s ease;
    cursor: pointer;
    color: var(--colorBlanco);
}

.botonNeon:hover {
    box-shadow: 0 0 5px var(--colorPrimario),
                0 0 25px var(--colorPrimario),
                0 0 50px var(--colorPrimario),
                0 0 100px var(--colorPrimario),
                0 0 200px var(--colorPrimario);
    transition: 2S ease;
    font-size: 17px;
}

/* Botón con estilo Secundario */
.botonSecundario {
    width: 150px;
    height: 60px;
    margin: 30px 30px;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid var(--colorSecundario);
    border-radius: 10px;
    background: var(--colorBlanco);
    box-shadow: 0 0 5px var(--colorSecundario),
                0 0 25px var(--colorSecundario);
    transition: all 0.4s ease;
    cursor: pointer;
    color: var(--colorSecundario);
}

.botonSecundario:hover {
    box-shadow: 0 0 5px var(--colorSecundario),
                0 0 25px var(--colorSecundario),
                0 0 50px var(--colorSecundario),
                0 0 100px var(--colorSecundario),
                0 0 200px var(--colorSecundario);
    transition: 2S ease;
    font-size: 17px;
}

/* Header */
header {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    /* background: var(--colorBackground); */
    /* background: -webkit-linear-gradient(to right, hsla(340,95%,50%,0.179),hsl(317, 45%, 52%,0.179)), url(../img/portada.jpg);
    background: linear-gradient(to right, hsla(340,95%,50%,0.179),hsl(317, 45%, 52%,0.179)), url(../img/portada.jpg); */
    /* background: url(../img/portada.jpg) fixed; */
    /* background: transparent url(../img/portada.jpg);
    background-size: cover;
 */ }

 /* Background de las Páginas */
 .bg {
    height: 100vh;
    height: 100dvh;

    &.bg__Inicio {
        background: transparent url('../img/portada.jpg') no-repeat;
        background-size: cover;
    }

    &.bg__Nosotros {
        background: transparent url('../img/portada_2.jpg') no-repeat;
        background-size: cover;
    }

    &.bg__Servicios {
        background: transparent url('../img/portada_3.jpg') no-repeat;
        background-size: cover;
    }

    &.bg__Campanias {
        background: transparent url('../img/portada_4.jpg') no-repeat;
        background-size: cover;
    }

    &.bg__Clientes {
        background: transparent url('../img/portada_5.jpg') no-repeat;
        background-size: cover;
    }

    &.bg__Contactos {
        background: transparent url('../img/portada_6.jpg') no-repeat;
        background-size: cover;
    }
 }

header nav {
    display: flex;
    margin-top: -68px;
    background: var(--colorBackground);
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 0 0;
    position: fixed;
    z-index: 100;
    border-bottom: 2px solid var(--colorBordes);
}

header nav .logo {
    margin-left: 60px;
    border-radius: 20%;
    box-shadow: 8px 8px 8px var(--colorBordes);
    cursor: pointer;
    transition: all 500ms ease;
}

header nav .logo:hover {
    transform: scale(1.1);
}

header nav .menuNavegación {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .menuNavegación > a {
    color: var(--colorSecundario);
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
    margin: 12px;
}

header nav .menuNavegación > a:hover {
    text-decoration: underline;
    transition: 1S ease;
    color: var(--colorPrimario);
}

/* Contenedor del submenú */
header nav .menuNavegación .submenu-container {
    position: relative;
    color: var(--colorSecundario);
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
    margin: 12px;
    position: relative;
}

header nav .menuNavegación .submenu-container > a {
    color: var(--colorSecundario);
    text-decoration: none;
}

header nav .menuNavegación .submenu-container .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--colorSecundario);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header nav .menuNavegación .submenu-container .submenu > a {
    display: block;
    padding: 10px 20px;
    color: var(--colorBlanco);
    text-decoration: none;
    white-space: nowrap;
    transition: 1S ease;
}

header nav .menuNavegación .submenu-container .submenu > a:hover {
    color: var(--colorNegro);
    text-decoration: none;
}

/* Mostrar submenú al pasar el mouse */
header nav .menuNavegación .submenu-container:hover .submenu {
    display: block;
}

header .textos_header {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 600px;
    margin-top: 68px;
    margin-left: 60px;
    padding: 160px 10px;
    text-align: center;
    backdrop-filter: blur(6px);
    border: none;
    animation: EntrarDesdeIzquierda 1.5s ease;
}

@keyframes EntrarDesdeIzquierda{
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}

header .textos_header h1 {
    font-family: Verdana;
    font-size: 50px;
    color:var(--colorSecundario);
    font-weight: bold;
}

header .textos_header h2 {
    font-family: Geneva;
    font-size: 48px;
    color: var(--colorPrimario);
    font-weight: bold;
}

header .textos_header .botones {
    display: flex;
    position: absolute;
    margin-top: 200px;
    margin-left: 85px;
}

/* Página Servicios */
main .contenedorServicios {
    padding: 0 150px;
    width: auto;
    height: 100vh;
    margin: auto;
    background: var(--colorAcento);
}

/* Footer */
footer {
    width: 100%;
    background: var(--colorFooter);
}

footer .grupo-1 {
    width: auto;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 15px 0px;   
}

footer .grupo-1 .box figure {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

footer .grupo-1 .box figure img {
    width: 90px;
    border-radius: 25%;
}

footer .grupo-1 .box h2 {
    color: var(--colorBlanco);
    margin-bottom: 25px;
    font-size: 20px;
}

footer .grupo-1 .box p {
    font-family: segoe;
    color: var(--colorTitulo);
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;

    &> a {
        color: var(--colorAcento);
        text-decoration: none;
    }
    
}

footer .grupo-1 .box .redesSociales a {
    display: inline;
    flex-direction: row;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: var(--colorBlanco);
    margin-right: 30px;
}

footer .grupo-1 .box .redesSociales a img {
    width: 25px;
    height: 25px;
}

footer .grupo-2 {
    padding: 0 10px;
    padding-bottom: 20px;
    text-align: center;
    color: var(--colorBlanco);
}

footer .grupo-2 small {
    font-size: 20px;
}

/* Diseño Responsive - Para PCs */
@media screen and ( max-width: 900px) {
    footer .grupo-1 {
        grid-template-columns: 1fr;       
    }
    
    footer .grupo-2 {
        display: flex;
        flex-wrap: wrap;       
    }
}

/* Diseño Responsive - Para Tablets */
@media screen and ( max-width: 700px) {
    
}

/* Diseño Responsive - Para Móviles */
@media screen and ( max-width: 600px) {
    
}